﻿@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="myController">
    
    <h3>EMPLOYEES</h3>
    <div>Employee Identification:</div>
    <input type="text" ng-model="idEmployee"/>
    <button ng-click="searchEmployee()">Search</button>
    <br />
    <br />
    <br />
  
    <table border="1" align="center">
        <thead>
            <tr>
                <th>Identification</th>
                <th>Name</th>
                <th>Contract Type</th>
                <th>Role Id</th>
                <th>Role</th>
                <th>HourlySalary</th>
                <th>MonthlySalary</th>
                <th>AnnualSalary</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td> {{ employee.Id  }}</td>
                <td> {{ employee.Name | uppercase }}</td>
                <td> {{ employee.ContractTypeName  }}</td>
                <td> {{ employee.RoleId  }}</td>
                <td> {{ employee.RoleName  }}</td>
                <td> {{ employee.HourlySalary | currency:"$" }}</td>
                <td> {{ employee.MonthlySalary | currency:"$" }}</td>
                <td> {{ employee.AnnualSalary | currency:"$" }}</td>
            </tr>
        </tbody>
    </table>
</div>